# this portion has only one OPTIONAL external runtime dependencies.
# ae_core is optional, and gets automatically added by any app project.
# :class:`ErrorMsgMixin` uses the enhanced core/console app output methods for logging if ae.core is installed.
